In [1]:
x = 30
print('my age is:', x)

my age is: 30

In [2]:
print("my name is {0} and my age is {1}".format("samuel", 20))

my name is samuel and my age is 20

In [3]:
name = "samuel"
age = 20
course = "Machine Learning"
print(f"my name is {name}. and my age is {age}. Iam engaged in learning {course}.")

my name is samuel. and my age is 20. Iam engaged in learning Machine Learning.

In [4]:
x = "samuel"
type(x)

#print(type(x))

str

In [5]:
name = "depi learning"
Upper_text = name.upper()
print(Upper_text)

DEPI LEARNING

In [6]:
lower_text=Upper_text.lower()
lower_text

'depi learning'

In [7]:
name.replace("depi","depi_ml")

'depi_ml learning'

In [8]:
name = "depi learning for machine learning depi"
# name.count("depi")
x = name.split()

response = ' '.join(x)
response
response.startswith("depi")

True

In [9]:
print("welcome to depi \"machine learning course\"")

welcome to depi "machine learning course"

In [10]:
print("hello\tworld")

hello	world

In [11]:
X = 2
x = 20
print(hex(id(x)))
print(hex(id(X)))

0x7ffd530a4608
0x7ffd530a43c8

In [1]:
x = ["depi",30,"python",True, ["ml","dl"],10.5 ]
print(type(x))

<class 'list'>

In [10]:
list_one=[1,2,3,4,"depi","learning",True,[1,2,3,4,["ml","dl","cv","nlp"]]]

In [12]:
list_one[7][4][0]

'ml'

In [13]:
list_i = ["depi", "learning", "ml"]
list_i.append("dl")
list_i

['depi', 'learning', 'ml', 'dl']

In [14]:
list_i.insert(0,"data")
list_i

['data', 'depi', 'learning', 'ml', 'dl']

In [17]:
list_2 = [1,2,3]
list_3 = [4, 5, 6]
#list_2 + list_3
list_2.extend(list_3)
list_2

[1, 2, 3, 4, 5, 6]

In [19]:
list_new = ["depi", "learning", "python"]
list_new.remove("depi")
list_new

['learning', 'python']

In [20]:
list_new.pop()
list_new

['learning']

In [21]:
del list_new [0]
list_new

[]

In [22]:
lst_1 = [1,2,3]
lst_2 = [4,5,6]
lst_3 = [7,8,9]
matrix = [lst_1,lst_2,lst_3]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [26]:
my_list = ['one','two','three',4.6]
my_list*2

['one', 'two', 'three', 4.6, 'one', 'two', 'three', 4.6]

In [29]:
name = input("enter your name: ")
name 
type(name)

str

In [30]:
name = input("enter your name")
id = input("enter your id")
print(f"my name is {name},my id is {id} ")

my name is samuel,my id is 2005

In [31]:
input_list = ["depi", "learning", "python"]
item = input("enter item in the list")
input_list.remove(item)
print(f"output list = {input_list}")

output list = ['learning', 'python']

In [32]:
my_list = [1,2,3,3]
index_val = my_list.index(3)
index_val

2

In [33]:
my_list=[1,2,3,3]
index_val=my_list.count(3)
index_val

2

In [34]:
list_sort = [3,1,5,7,9,2,0]
list_sort.sort()
list_sort

[0, 1, 2, 3, 5, 7, 9]

In [35]:
list_sort = [3,1,5,7,9,2,0]
list_sort.reverse()
list_sort

[0, 2, 9, 7, 5, 1, 3]

In [36]:
list_sort = [3,1,5,7,9,2,0]
list_sort.clear()
list_sort

[]

In [39]:
tuple_1 = (1,2,3)

In [41]:
name = "depi"
tuple(name)

('d', 'e', 'p', 'i')

In [ ]:
set_1 = {"depi", "learning", "depi"}
set_1
#not duplicate

{'depi', 'learning'}

In [45]:
color = {"red", "green", "blue"}
color.remove("green")
print(color)

{'blue', 'red'}

In [46]:
a = {1,2,3}
b={3,4,5}
print(a.intersection(b))

{3}

In [47]:
a = {1,2,3}
b={3,4,5}
print(a.union(b))

{1, 2, 3, 4, 5}

In [51]:
dict_1 = {"key_1":25}
dict_1["key_1"]="depi"
dict_1

{'key_1': 'depi'}

In [52]:
5/2

2.5

In [53]:
5//2

2

In [54]:
5%2

1

In [55]:
3!=4

True

In [57]:
num1=float(input("enter num1: "))
num2=float(input("enter num2: "))
print(f"sum : {num1 + num2}")
print(f"sub : {num1 - num2}")
print(f"mult : {num1 * num2}")
print(f"div : {num1 / num2}")

sum : 15.0
sub : 5.0
mult : 50.0
div : 2.0

In [59]:
a = 200
b = 33
if b > a: 
    print("b is greater than a")
else: 
    print("b is not greater than a")

b is not greater than a

In [60]:
x = 5
y = 10
if x > 0 and y > 0 :
    print("positive numbers")

positive numbers

In [61]:
x = 5
result = "Even" if x % 2 == 0 else "odd"
print(result)

odd

In [62]:
a = 10 
b = 5
result = a + b if a > b else a - b
print(result)

15

In [63]:
age = 21
print("adult") if age >= 18 else (print("teenager") if age >= 13 else print("child"))

adult

In [66]:
is_sunny = True
tem = 25

if is_sunny:
    print("sunny day")
    if tem > 20:
        print("warm")
    else:
        print("cool")
else:
    print("not sunny")

sunny day
warm

In [68]:
grade = int (input("enter your grade"))

if 0<= grade <= 100:
    if 85 <= grade <= 100:
        print("A") 
    elif 75 <= grade <=  90:
        print("B")
    elif 65 <= grade <= 75:
        print("c")
    elif 50 <= grade <= 65:
        print("D")
    elif 0 <= grade <= 50:
        print("fail") 


else:
    print("enter value between 0-100")

A

In [69]:
x = 6
while x > 0:
    print("python")
    x -= 1

python
python
python
python
python
python